---
import ButtonDownloadCv from "../buttons/buttonDownloadCv.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import SocialPill from "../SocialPill.astro";
import Badge from "../ui/Badge.astro";
---

<div id="sobre-mi" class="flex flex-col gap-y-5 scroll-mt-[80px]">
  <div class="border-4 w-36 border-gray-200 rounded-full m-auto">
    <img
      class="rounded-full size-36 object-cover"
      src="/foto_cv.jpg"
      alt="foto_cv"
    />
  </div>

  <h1
    class="text-2xl md:text-3xl font-bold items-center text-shadow-2xs text-shadow-white"
  >
    Hola, soy Jhorky <Badge>Disponible</Badge>
  </h1>
  <p class="text-sm md:text-lg font-semibold text-gray-300 text-pretty">
    Soy Analista Funcional con más de 3 años de experiencia trabajando junto a
    equipos de desarrollo, colaborando en la identificación y resolución de
    problemas, optimización de procesos y análisis de datos. En paralelo, me he
    formado de manera constante en desarrollo web, creando proyectos propios con
    tecnologías como React, Node.js, Express y Supabase.
    <br /><br />
    Busco mi primer oportunidad laboral como desarrollador web, donde pueda aplicar
    mi conocimiento técnico y mi experiencia previa en IT para aportar valor desde
    el primer día.
  </p>
  <nav class="flex justify-center gap-8 flex-wrap">
    <SocialPill href="https://www.linkedin.com/in/jhorkyescalante/">
      <LinkedinIcon class="size-6" />
      Linkedin
    </SocialPill>
    <SocialPill href="https://github.com/jhorky91/">
      <GithubIcon class="size-6" />
      Github
    </SocialPill>
    <SocialPill href="mailto:escalante.jhorky.91@gmail.com">
      <EmailIcon class="size-6" />
      escalante.jhorky.91@gmail.com
    </SocialPill>
  </nav>
  <div>
    <ButtonDownloadCv />
  </div>
</div>
