---
import ButtonDownloadCv from "../buttons/buttonDownloadCv.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import SocialPill from "../SocialPill.astro";
import Badge from "../ui/Badge.astro";
---

<div id="sobre-mi" class="flex flex-col gap-y-5 pt-[80px]">
  <img class="rounded-full size-30" src="/foto_cv.jpg" alt="foto_cv" />
  <h1 class="text-4xl font-bold">
    Hola, soy Jhorky <Badge>Disponible</Badge>
  </h1>
  <p class="text-md font-semibold opacity-80">
    Cuento con m치s de 3 a침os de experiencia en optimizaci칩n de aplicaciones y
    gesti칩n de datos. Especializado en identificar problemas y desarrollar
    soluciones innovadoras que mejoran la eficiencia operativa. Apasionado por
    el aprendizaje continuo y el trabajo en equipo.
  </p>
  <nav class="flex gap-8 flex-wrap">
    <SocialPill href="https://www.linkedin.com/in/jhorkyescalante/">
      <LinkedinIcon class="size-6" />
      Linkedin
    </SocialPill>
    <SocialPill href="https://github.com/jhorky91/">
      <GithubIcon class="size-6" />
      Github
    </SocialPill>
    <SocialPill href="mailto:escalante.jhorky.91@gmail.com">
      <EmailIcon class="size-6" />
      escalante.jhorky.91@gmail.com
    </SocialPill>
  </nav>
  <div>
    <ButtonDownloadCv />
  </div>
</div>
