---
import { Github, Linkedin, Twitter, Youtube } from "@lucide/astro";
---

<section id="contact" class="my-5 px-6 max-w-3xl mx-auto text-center">
  <h2 class="text-white text-2xl md:text-3xl font-bold mb-4">¿Trabajamos juntos?</h2>
  <p class="text-sm md:text-base text-gray-400 mb-8">
    Estoy abierto a nuevas oportunidades, colaboraciones o simplemente charlar
    sobre tecnología.
  </p>

  <a
    href="mailto:escalante.jhorky.91@gmail.com"
    class="inline-block bg-purple-600 text-white px-6 py-3 rounded-full font-medium hover:bg-purple-700 transition"
  >
    Enviame un correo
  </a>

  <div class="mt-6 flex justify-center gap-6">
    <a
      href="https://github.com/jhorky91/"
      target="_blank"
      aria-label="GitHub"
      class="text-purple-300 hover:text-white text-2xl"
    >
      <Github />
    </a>
    <a
      href="https://www.linkedin.com/in/jhorkyescalante/"
      target="_blank"
      aria-label="LinkedIn"
      class="text-purple-300 hover:text-white text-2xl"
    >
      <Linkedin />
    </a>
    <a
      href="https://x.com/JhorkyDev"
      target="_blank"
      aria-label="Twitter"
      class="text-purple-300 hover:text-white text-2xl"
    >
      <Twitter />
    </a>
    <a
      href="https://www.youtube.com/@jhorky91"
      target="_blank"
      aria-label="YouTube"
      class="text-purple-300 hover:text-white text-2xl"
    >
      <Youtube />
    </a>
  </div>
</section>
