---
import MenuHambur from "./MenuHambur.astro";
---

<header
  class="fixed top-0 left-0 w-full z-50 flex justify-start ml-2 md:justify-center items-center h-[80px] bg-black/60 backdrop-blur-md"
>
  <!-- Nav en desktop -->
  <nav class="hidden md:flex gap-10 text-sm font-semibold">
    <a href="#sobre-mi" class="hover:text-purple-400 transition">Sobre mí</a>
    <a href="#experience" class="hover:text-purple-400 transition">Experiencia</a>
    <a href="#skills" class="hover:text-purple-400 transition">Tecnologías</a>
    <a href="#education" class="hover:text-purple-400 transition">Educación</a>
    <a href="#proyects" class="hover:text-purple-400 transition">Proyectos</a>
  </nav>

  <!-- Icono hamburguesa solo visible en mobile -->
  <div class="block md:hidden">
    <MenuHambur />
  </div>
</header>
