---
import MenuHambur from "./MenuHambur.astro";
import { MENU } from "@/utils/data.js";
---

<header
  class="fixed top-0 left-0 w-full z-50 flex justify-start pl-2 md:justify-center items-center h-[80px] bg-black/60 backdrop-blur-md"
>
  <!-- Nav en desktop -->
  <nav class="hidden md:flex gap-10 text-sm font-semibold">
    {
      MENU.map((item) => (
        <a href={item.href} class="text-white hover:text-purple-400 transition">
          {item.name}
        </a>
      ))
    }
  </nav>

  <!-- Icono hamburguesa solo visible en mobile -->
  <div class="block md:hidden">
    <MenuHambur />
  </div>
</header>
