<nav class="flex gap-10 text-xl font-bold">
  <a class="hover:text-red-400" href="#top">Sobre mí</a>
  <a class="hover:text-red-400" href="#experience">Experiencia</a>
  <a class="hover:text-red-400" href="#skills">Tecnologías</a>
  <a class="hover:text-red-400" href="#education">Educación</a>
  <a class="hover:text-red-400" href="#proyects">Proyectos</a>
</nav>
