---
import { X } from "@lucide/astro";
import { MENU } from "@/utils/data.js";
---

<!-- Contenedor -->
<div class="relative z-50">
  <!-- Botón hamburguesa (abrir menú) -->
  <button id="hamburBtnOpen" class="flex flex-col gap-2 p-2 focus:outline-none">
    <span class="block w-8 h-1 bg-white rounded transition-all duration-300"
    ></span>
    <span class="block w-8 h-1 bg-white rounded transition-all duration-300"
    ></span>
    <span class="block w-8 h-1 bg-white rounded transition-all duration-300"
    ></span>
  </button>

  <!-- Panel deslizable -->
  <div
    id="menuMobilePanel"
    class="fixed top-0 left-0 h-screen w-4/5 overflow-y-auto bg-neutral-950 text-white transform -translate-x-full transition-transform duration-300 z-40 px-6 py-20 flex flex-col justify-between bg-[radial-gradient(ellipse_100%_100%_at_50%_0%,#1B113F_0%,#000_100%)]"
  >
    <!-- Cierre -->
    <button
      id="hamburBtnClose"
      class="absolute top-4 right-4 hover:text-red-500 transition cursor-pointer"
    >
      <X size={32} stroke-width={2.5} />
    </button>

    <!-- Navegación -->
    <nav class="flex flex-col gap-6 mt-12 text-lg ml-5">
      {
        MENU.map((item) => (
          <a            
            class="flex items-center gap-3 text-gray-300 hover:text-purple-400 hover:translate-x-1 transition-all duration-200"
            href={item.href}
          >
            <item.icon
              size={22}
              class="text-purple-500 group-hover:text-purple-300 transition"
            /> {item.name}
          </a>
          <div class="relative w-full my-4">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-purple-800/20"></div>
            </div>
            <div class="relative flex justify-center">
              <span class="bg-neutral-950 px-2 text-purple-400 text-xs">●</span>
            </div>
          </div>
        ))
      }
     </nav>
    <!-- Footer -->
    <div class="text-xs text-neutral-400 flex justify-center">
      <span>Versión 1.0.0</span>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btnOpen = document.getElementById("hamburBtnOpen");
    const btnClose = document.getElementById("hamburBtnClose");
    const panel = document.getElementById("menuMobilePanel");
    const links = document.querySelectorAll("#menuMobilePanel a");

    function togglePanel() {
      const isOpen = panel?.classList.contains("-translate-x-full");

      if (isOpen) {
        panel?.classList.remove("-translate-x-full");
        panel?.classList.add("translate-x-[-10px]");
      } else {
        panel?.classList.remove("translate-x-[-10px]");
        panel?.classList.add("-translate-x-full");
      }

      document.body.classList.toggle("overflow-hidden");
    }

    btnOpen?.addEventListener("click", togglePanel);
    btnClose?.addEventListener("click", togglePanel);

    links.forEach((link) => {
      link.addEventListener("click", () => {
        panel?.classList.add("-translate-x-full");
        panel?.classList.remove("translate-x-[-10px]");
        document.body.classList.remove("overflow-hidden");
      });
    });
  });
</script>
